@import '~@angular/material/theming';

@include mat-core();
$app-dark-primary: mat-palette($mat-purple);
$app-dark-accent: mat-palette($mat-green, A200, A100, A400);
$app-dark-warn: mat-palette($mat-orange, 800);
$app-dark-theme: mat-dark-theme($app-dark-primary, $app-dark-accent, $app-dark-warn);
@include angular-material-theme($app-dark-theme);
