div.game-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  div.game-info {
    position: absolute;
    top: 0;
    right: 0;
    margin: 50px 50px 0 0;
    text-align: left;
    padding: 10px;
    border: 1px solid white;
    border-radius: 4px;

    h3 {
      font-size: 2em;
      margin: 5px 0;
      font-weight: normal;
    }
  }

  h1 {
    font-size: 5em;
    font-weight: 100;
    margin: 30px;
  }

  div.info-footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 20px;

    button {
      width: 100%;
    }
  }
}

div.outer {


  div.players-deck-container {
    display: flex;
    position: fixed;
    top: 0;
    justify-content: space-around;
    width: 100%;

    div {

      div.players-deck {
        display: flex;
      }

      h3 {
        text-align: center;
        color: #ababab;
        font-weight: 100;
      }
    }

    div.user-turn {
      margin-top: 40px;

      div {
        box-shadow: 0 0 150px green;
      }

      h3 {
        color: white;
        font-weight: 400;
      }
    }
  }

  div.center {
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: space-evenly;

    app-card.table {
      transform: rotate(10deg);
    }

    div.next-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: #C77A38;
      width: 150px;
      height: 150px;
      font-size: 3em;
      transform: rotate(10deg);
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    }
  }

  div.player-deck-container {
    position: fixed;
    bottom: 0;
    width: 100%;

    h1 {
      margin: 10px;
      text-align: center;
    }

    div.player-deck {
      justify-content: center;
      display: flex;
    }
  }

  div.game-info {
    position: fixed;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    h1 {
      font-size: 4em;
      margin: 0;
      animation: pulseTimer 1s infinite;
    }
  }

  div.select-color {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    div {
      width: 150px;
      height: 40px;
      transition: 0.5s;
      cursor: pointer;

      &:hover {
        width: 200px;
      }
    }
  }

  div.light {
    bottom: 0;
    width: 100%;
  }

  div.green-light {
    animation: light-green 1s infinite;
  }

  div.red-light {
    animation: red 1s infinite;
  }
}

.not-allowed {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.8;
}

@keyframes light-green {
  0% {
    box-shadow: 0 0 200px 50px rgba(15, 153, 0, 0.66);
  }
  50% {
    box-shadow: 0 0 200px 50px green;
  }
  100% {
    box-shadow: 0 0 200px 50px rgba(15, 153, 0, 0.66);
  }
}

@keyframes red {
  0% {
    box-shadow: 0 0 200px 50px rgba(255, 0, 0, 0.66);
  }
  50% {
    box-shadow: 0 0 200px 50px red;
  }
  100% {
    box-shadow: 0 0 200px 50px rgba(255, 0, 0, 0.66);
  }
}

@keyframes pulseTimer {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}



