div.player-deck-container {
  flex-grow: 1;
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(8, 153, 6, 0.31);

  app-card {
    margin: 10px;
    cursor: pointer;
  }
}

.disabled {
  pointer-events: none;
  background-color: rgba(153, 5, 0, 0.49) !important;
}
