<ng-container *ngIf="game; else loader">


  <div class="game-preview" *ngIf="!game.gameStarted"> <!-- GAME NOT STARTED -->
    <div class="game-info">
      <h3>Game: {{game.gameId}}</h3>
      <h3>Password: {{game.password}}</h3>
    </div>
    <div>
      <h1 *ngFor="let playerList of game.players; let i = index"
          [ngStyle]="{'color' : playerList === this.player ? 'green' : '', 'font-weight' :
          playerList === this.player ? 'bold' : 'light'}">
        {{playerList}} <span *ngIf="i === 0">*</span></h1>
    </div>
    <div class="info-footer">
      <button class="join-game-btn" *ngIf=" game.players[0] === this.player && game.players.length > 1; else noAdmin"
              (click)="startGame()"> start
      </button>
      <ng-template #noAdmin>
        <h3>Waiting for {{game.players[0]}} to start the game...</h3>
      </ng-template>
    </div>
  </div>


  <!-- GAME STARTED -->
  <div class="outer" *ngIf="game.gameStarted && !this.game.gameFinished">

    <div class="players-deck-container">
      <div *ngFor="let playerDeck of game.decksLength; let i = index"
           [ngStyle]="{'display': playerDeck.player === player ? 'none' : 'block'}"
           [ngClass]="{'user-turn': i === game.playerTurn}">
        <div class="players-deck">
          <app-card *ngFor="let card of getLength(playerDeck.length)" [card]="null" [width]="100"
                    [type]="'hidden'"></app-card>
        </div>
        <h3>{{playerDeck.player}}</h3>
      </div>
    </div>

    <div class="center">
      <app-card class="deck" [card]="null" [width]="200" [type]="'deck'"
                (click)="!onDrawCardBtn() && drawCard()"
                [ngClass]="{'not-allowed': onDrawCardBtn()}"></app-card>
      <app-card class="table" [card]="this.game.tableCard[this.game.tableCard.length - 1]"
                [width]="200" [type]="'table'"
                [ngStyle]="{'color': game.tableCard[game.tableCard.length - 1].color  === 4 ? getSpecialCardColor() :
                'inherit'}">
      </app-card>
      <button class="next-btn" (click)="isPlayerTurn && nextPlayer()" [ngClass]="{'not-allowed': onSkipPlayerBtn()}"
              [disabled]="onSkipPlayerBtn()">PASS
      </button>
    </div>

    <div class="player-deck-container"
         [ngStyle]="{'pointer-events': (!isPlayerTurn || this.game.tableColor === null) ? 'none' : ''}"
         [ngClass]="{'not-allowed': (!isPlayerTurn || this.game.tableColor === null)}">
      <h1>{{player}}</h1>
      <div class="player-deck">
        <app-card *ngFor="let card of playerDeck; let i = index" (click)="isPlayerTurn && cardToTable(i)"
                  [card]="card" [width]="150" [type]="'player-deck'">
        </app-card>
      </div>
    </div>

    <div class="game-info">
      <h3>{{game.gameId}}</h3>
      <p>Players: {{game.players.length}}</p>
      <p>Turn: {{game.players[game.playerTurn]}}</p>
      <p [ngStyle]="{'color': game.drawCardsCounter !== 0 ? 'red' : 'inherit'}">Cards to
        draw: {{game.drawCardsCounter}}</p>
      <h1 *ngIf="isPlayerTurn"
          [ngStyle]="{'color': timer < 10 && timer >= 5 ? 'orange' : timer < 5 ? 'red' : 'inherit'}">{{timer}}</h1>
    </div>

    <div class="select-color" *ngIf="game.tableColor === null && isPlayerTurn">
      <div class="color0" (click)="changeColor(0)"></div>
      <div class="color1" (click)="changeColor(1)"></div>
      <div class="color2" (click)="changeColor(2)"></div>
      <div class="color3" (click)="changeColor(3)"></div>
    </div>

    <div class="light"
         [ngClass]="game.players[this.game.playerTurn] === this.player ? 'green-light' : 'red-light'"></div>
  </div>


  <!-- GAME FINISHED -->
  <div class="game-preview" *ngIf="game.gameFinished">
    <div>
      <h1 style="font-weight: bold; color: #C77A38">WINNER</h1>
      <hr>
      <h1 *ngFor="let winner of game.winners" style="font-weight: bold; color: green">{{winner}}</h1>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <mat-spinner (progress)="50" color="accent"></mat-spinner>
</ng-template>
