<ng-container *ngIf="!gameStarted">
  <mat-slider
    class="example-margin"
    max="6"
    min="2"
    step="1"
    thumbLabel=true
    [(ngModel)]="players"
    (change)="numberOfPlayers()">
  </mat-slider>
  <mat-form-field appearance="outline" *ngFor="let players of playersNames; let playerNumber = index">
    <mat-label>Player {{playerNumber}}</mat-label>
    <label>
      <input matInput placeholder="Enter player {{playerNumber}} name" [(ngModel)]="playersNames[playerNumber]">
    </label>
  </mat-form-field>
  <button mat-flat-button color="primary" (click)="startGame()">Start</button>
</ng-container>

<div *ngIf="tableColor !== null"
     [ngStyle]="{'background-color': tableColor === 0 ? 'red' : tableColor === 1 ? 'blue' : 'green'}"
     style="width: 100px; height: 100px"></div>

<!--select color-->
<ng-container *ngIf="tableColor === null">
  <label id="example-radio-group-label">Pick color</label>
  <mat-radio-group (change)="changeColor()" [(ngModel)]="tableColor">
    <mat-radio-button [value]="0">
      red
    </mat-radio-button>
    <mat-radio-button [value]="1">
      blue
    </mat-radio-button>
    <mat-radio-button [value]="2">
      yellow
    </mat-radio-button>
    <mat-radio-button [value]="3">
      green
    </mat-radio-button>
  </mat-radio-group>
</ng-container>

<!-- GAME STARTED -->
<ng-container *ngIf="gameStarted">
  <button mat-flat-button color="warn" (click)="restart()">Restart</button>
  <div class="table-card">
    <app-card [card]="tableCard[tableCard.length - 1]"></app-card>
  </div>

  <div class="user-decks-container">
    <div class="user-deck-container" *ngFor="let playerDeck of playersDeck; let deckPosition = index"
         [ngClass]="{'disabled': (playerTurn !== deckPosition || tableColor === null)}">
      <app-card *ngFor="let card of playerDeck; let cardPosition = index" [card]="card"
                (click)="cardToTable(deckPosition,cardPosition)"></app-card>
      <div class="actions">
        <button mat-flat-button color="accent" (click)="onDrawClick(deckPosition)">Draw</button>
        <button mat-flat-button color="accent" (click)="nextPlayer()">next</button>
      </div>
    </div>
  </div>
</ng-container>


